.auth {
    background: var(--main-bg-color);
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.auth-box {
    width: 35%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-form {
    width: 80%;
}

.auth-illustration {
    width: 65%;
    min-height: 100%;
    background-image: url("../../assets/images/login.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.auth-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: small;
    font-weight: bold;
    color: #393e46;
}

.auth-links a {
    color: #393e46;
}

/* -------------- Responsiveness -------------- */

@media only screen and (max-width: 1130px) {
    .auth-box {
        width: 50%;
    }

    .auth-illustration {
        width: 50%;
    }
}

@media only screen and (max-width: 814px) {

    .auth {
        justify-content: center;
        align-items: center;
        background-image: url("../../assets/images/login.jpg");
        background-size:     cover;
        background-repeat:   no-repeat;
        background-position: center center;
    }

    .auth-box {
        border-radius: 4px;
        background: var(--main-bg-color);
        width: 80%;
        min-height: 80%;
    }

    .auth-illustration {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .auth-box {
        width: 100%;
    }
}

@media only screen and (max-width: 370px) {
    .auth-links{
        flex-direction: column;
    }
    .auth-links a {
        margin: 3px 0;
    }
}