
.event-container {
    margin: 1rem 1em 1rem 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.event h4 {
    margin: 15px 0;
}

.event {
    width: 1000px;
    padding: 5px 30px;
    box-shadow: 1px 4px 8px 1px rgba(0,0,0,0.2);
    box-sizing: border-box;
    border-radius: 7px;
}

.information {
    display: flex;
}

.control-box {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}

.control-box button {
    margin-right: 7px;
}

.dates span {
    display: flex;
    justify-content: space-between;
    width: 240px;
}

.workout-link {
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    color: #393e46;
    border-bottom: 1px solid #999999;
}

.workout-link span {
    margin-right: 5px;
    transition: margin-right 0.5s;
    transition-timing-function: ease-out;
}

.workout-link:hover {
    color: var(--primary-color);
}

.workout-link:hover span {
    margin-right: 20px;
}

@media only screen and (max-width: 1220px) {
    .event {
        width: 600px;
    }
}

@media only screen and (max-width: 700px) {
    .event {
        width: 100%;
    }

    .control-box {
        width: 100%;
        flex-direction: column;
    }

    .control-box button {
        margin-bottom: 5px;
    }
}