/* --------------- Fonts ---------------- */
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Regular.ttf");
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* --------------- Global ---------------- */

* {
    overflow: hidden;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #eeeeee;
    --primary-color: #222831;
    --secondary-color: #00adb5;
    --help-color: #393e46;
}

html, body, #app, #home {
    font-family: "B612", sans-serif;
    height: 100%;
    min-height: 100%;
    margin:0;
}

body, #app, #home {
    display: flex;
    flex-direction: column;
}

/* --------------- Main root elements ---------------- */

#header {
    height: 60px;
    background-color: var(--primary-color);
    flex: none;
    display: flex;
    justify-content: space-between;
}

#main {
    background-color: var(--main-bg-color);
    flex: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* --------------- Main element elements ---------------- */

#menu {
    background-color: var(--secondary-color);
    height: 100%;
    width: 15%;
}

#content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}