/* --------------- Fonts ---------------- */
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Regular.ttf");
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "B612";
    src: url("../fonts/B612-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* --------------- Global ---------------- */

* {
    /*overflow: hidden; TODO: check if needed (breaks emotes in messenger) */
    box-sizing: border-box;
}

:root {
    --main-bg-color: #eeeeee;
    --menu-bg-color: #00adb5;
    --header-bg-color: #222831;
    --primary-color: #16a596;
    --secondary-color: #393e46;
    --danger-color: #ac0000;
    --success-color: #155724;
}

html, body, #app, #home {
    font-family: "B612", sans-serif;
    height: 100%;
    min-height: 100%;
    margin:0;
}

body, #app, #home {
    display: flex;
    flex-direction: column;
}

/* --------------- Remove anchor tags decoration ---------------- */

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

/* --------------- Main root elements ---------------- */

#header {
    height: 60px;
    background-color: var(--header-bg-color);
    flex: none;
    display: flex;
    justify-content: space-between;
}

#main {
    background-color: var(--main-bg-color);
    flex: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* --------------- Main element elements ---------------- */

#menu {
    background-color: var(--menu-bg-color);
    height: 100%;
    width: 15%;
}

#content {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    padding: 15px 25px; /* If updated also update .remove-content-paddings */
}

/* --------------- Scrollbar hides with functionality kept ---------------- */

/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#content {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
}

/* --------------- Header elements --------------- */

#header .logo {
    overflow: hidden;
    height: 100%;
    width: 200px;
    padding-bottom: 10px;
}

#header .account {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

#header .account .btn {
    background-color: #bbded6;
    height: 35px;
    margin: 2px 20px;
    font-weight: bold;
}

#header .account .btn:hover {
    background-color: #007c70
}

.profile-links a {
    outline: none;
    color: #ffffff;
}

.profile-links a:hover {
    text-decoration: underline;
}

/* --------------- Menu elements --------------- */

#menu a {
    color: #000000;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 5px;
    -webkit-transition: all ease 0.7s;
    -moz-transition: all ease 0.7s;
    transition: all ease 0.7s;
}

#menu a:hover{
    background-color: #61c0bf;
}

#menu ul{
    padding: 0;
    list-style-type: none;
}

#menu li {
    margin: 4px 0;
    background-color: #bbded6;
}

#menu .side-panel-exact-active {
    color: #ffffff;
    background-color: #61c0bf;
}

/* --------------- Mobile menu --------------- */

#mobile-menu {
    width: 200px;
    display: none;
}

#mobile-menu .bm-burger-button {
    cursor: pointer;
    height: 30px;
    left: 25px;
    top: 15px;
    width: 36px;
}

#mobile-menu .bm-menu {
    background-color: var(--menu-bg-color);
    height: 100%;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 0;
    z-index: 1000;
}

#mobile-menu .bm-cross {
    background-color: black;
    left: 10px;
}

#mobile-menu .bm-item-list {
    margin-left: 0;
}

#mobile-menu .bm-item-list ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style-type: none;
}

#mobile-menu .bm-item-list ul li {
    background-color: #bbded6;
    margin: 4px 0;
}

#mobile-menu .bm-item-list ul li a {
    color: #000000;
    display: block;
    padding: 10px 5px;
    width: 100%;
    text-decoration: none;
}

#mobile-menu .side-panel-exact-active {
    color: #ffffff !important;
    background-color: #61c0bf;
}

/* --------------- Buttons elements --------------- */

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    text-decoration: none;
}

.btn:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 0 3px;
}

::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button[disabled=disabled], button:disabled, .btn-disabled-wait:disabled {
    opacity: 0.5;
    border: 1px solid #999999;
    background-color: #cccccc !important;
    cursor: initial;
}

.btn-disabled-wait:disabled {
    cursor: wait;
}

.btn-primary {
    color: #ffffff;
    font-weight: bold;
    background-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: #007c70;
}

.btn-secondary {
    color: #ffffff;
    font-weight: bold;
    background-color: var(--secondary-color);
}

.btn-secondary:hover {
    background-color: #222831;
}

.btn-danger {
    color: #ffffff;
    font-weight: bold;
    background-color: var(--danger-color);
}

.btn-danger:hover {
    background-color: #810000;
}

/* -------------------- Forms -------------------- */

.form-input {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 4px 0;
}

.form-input-textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.form-group {
    margin: 12px 0;
}

.form-inline {
    display: flex;
    justify-content: space-between;
}

.form-check {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.modal-from {
    padding: 15px;
}

/* --------------- Remove arrows from number inputs --------------- */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* --------------- Select --------------- */

/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select */
.custom-select {
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    background: #cecece;
    overflow: hidden;
    border-radius: .25em;
    width: 100%;
    margin: 12px 0;
}

select {
    flex: 1;
    padding: 0 .5em;
    cursor: pointer;
    width: 100%;
}

/* Arrow */
.custom-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #e7e7e7;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

/* Transition */
.custom-select:hover::after {
    color: var(--primary-color);
}

/* --------------- Helpers --------------- */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-content-paddings {
    margin: -15px -25px;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* --------------- Other --------------- */

.force-scroll-modal .vm--modal {
    overflow-y: scroll !important;
}

.force-scroll-modal .vm--modal::-webkit-scrollbar {
    display: none;
}

.force-scroll-modal .vm--modal {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* --------------- Responsiveness --------------- */

@media only screen and (max-width: 1440px) {
    #menu {
        width: 20%;
    }
}

@media only screen and (max-width: 960px) {
    #menu {
        display: none;
    }

    #mobile-menu {
        display: block;
    }
}